<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>负责人</key>
	<string>User_Id</string>
	<key>姓名</key>
	<string>Contact_Name</string>
	<key>生日</key>
	<string>Contact_Birth</string>
	<key>性别</key>
	<string>Contact_Sex</string>
	<key>公司名称</key>
	<string>Custom_Id</string>
	<key>职务</key>
	<string>Contact_Position</string>
	<key>电话</key>
	<string>Contact_Phone</string>
	<key>手机</key>
	<string>Contact_Tel</string>
	<key>Email</key>
	<string>Contact_mail </string>
	<key>地址</key>
	<string>Contact_Addr</string>
	<key>备注</key>
	<string>Remark</string>
	<key>部门</key>
	<string>Department_Id</string>
</dict>
</plist>
